<!DOCTYPE html>
<html>
<head>
  <title>ChiliPepper</title>
  <%= stylesheet_link_tag    "chili_pepper/application", media: "all" %>
  <%= javascript_include_tag "chili_pepper/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
